body {
    background-color: #f0f2f5;
    font-family: Tahoma, sans-serif;
}

/* Header */
h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    color: #212529;
}

/* Tabs */
.nav-tabs .nav-link.active {
    background-color: #0d6efd;
    color: #fff !important;
    font-weight: bold;
    border-radius: 0.5rem 0.5rem 0 0;
}

.nav-tabs .nav-link {
    color: #0d6efd;
    font-weight: 500;
    transition: 0.2s;
}

.nav-tabs .nav-link:hover {
    background-color: #e7f1ff;
    color: #0a58ca !important;
}

/* Stock cards */
#stocksContainer .card {
    margin-bottom: 20px;
    transition: transform 0.2s, box-shadow 0.2s;
    border-radius: 0.7rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

#stocksContainer .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

.card-title {
    font-weight: bold;
    font-size: 1.2rem;
}

/* Team section */
#team .card {
    border-radius: 0.7rem;
    margin-bottom: 15px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* Chat section */
#chatMessages {
    background-color: #ffffff;
    border-radius: 0.7re
}
.panel-logo{
    transition: 1s;
}
.panel-logo:hover{
    border-bottom: 2px solid green;
    box-shadow: 5px 3px;
    cursor: pointer;
}